/*
  Orange color: #e67e22
*/

/* ------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------ */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------ */

.section {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ------ */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 85%;
  margin-bottom: 15px;
  font-weight: 400;
}

h2:after {
  display: block;
  height: 2px;
  background-color:#e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- PARAGRAPHS ------ */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- ICONS ------ */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  /* secrets to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
}

/* ----- LINKS ------ */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s color 0.2s;
  transition: border-bottom 0.2s color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ------ */
.btn:link,
.btn.visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* Nav default */
.navbar-default {
  padding: 25px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
          box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.navbar-default .logo {
  color: #e67e22;
  font-size: 130%;
  font-weight: 400;
  border-bottom: 0;
}

.navbar-default ul {
  list-style: none;
  float: right;
}

.navbar-default li {
  display: inline-block;
  margin-left: 40px;
}

.navbar-default li a:link,
.navbar-default li a:visited {
  padding: 30px 0;
  color: #555;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.navbar-default li a:hover,
.navbar-default li a:active {
  border-bottom: 2px solid #cf6d17;
}

/* ------------------------------------------------ */
/* FORM */
/* ------------------------------------------------ */

.form-box {
  margin: 0 auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 40px;
  padding: 40px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
          box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.ask-account {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 95%;
}

input[type=text],
input[type=email],
input[type=password],
textarea,
select {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

.input-group {
  position: relative;
  border-radius: 5px;
  height: 40px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
          box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.input-group-addon {
  position: absolute;
  top: 12px;
  left: 10px;
  text-align: center;
  color: #e67e22;
}

*:focus {outline: none;}

.form-messages {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.success { background-color: #2ecc71 }

.error { background-color: #e74c3c }

#filter-form {
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
}

#filter-form input[type="text"] {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 40px;
}

.filter-input button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 40px;
  width: 80px;
  background-color: #e67e22;
  border: none;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.filter-input button:hover {
  background-color: #cf6d17;
}

/* ------------------------------------------------ */
/* VIDEOS */
/* ------------------------------------------------ */
.video-box {
  width: 30%;
	padding: 1%;
  margin: 1% 0 1% 1.6%;
	display: block;
  float: left;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
          box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
}

.video-box a {
  color: #555;
  display: inline-block;
  text-transform: uppercase;
  font-size: 85%;
  margin-bottom: 15px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}

.video-box a:hover,
.video-box a:active {
  color: #e67e22;
}

.video-box img {
  width: 100%;
  height: 10em;
  margin-bottom: 15px;
}

.video-feature .tags {
  text-transform: lowercase;
}

.detail {
  margin: 0 auto;
  width: 65%;
  padding: 40px;
  float: none;
}

.detail img {
  height: 20em;
}

#comments-box {
  margin-top: 30px;
}

.comment-item {
  margin-bottom: 15px;
}